
#pokemonlogo{
	width: 40%;
	margin: 5% 30% 5% 30%;
}

ul.homelists{
	margin-top: 5%;
	display: inline-block;
}

li.typeselect{
	list-style-type: none;
	float: left;
	padding: 0% 0% 0% 2%;
	width: 150px;
	height: 50px;
	color: #3269B2;
}

input[type=checkbox].pokechecks{
	margin: 9px;
}

label.pokelabels{
    font-size: 20px;
    color: #254D9C;
    font-weight: 300;
}

li.pokenames{
	list-style-type: none;
	float: left;
	padding: 1% 1% 0% 1%;
	width: 250px;
	height: 50px;
	text-shadow: 1px 1px grey;
}

button.resultgrid{
	width: 240px;
}

ul.detailslist{
	list-style-type: circle;
}

ul.detailslist li{
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
}
